# =========================================================
# Environment
# =========================================================

.env
.env.*
!.env.example


# =========================================================
# Python
# =========================================================

__pycache__/
*.py[cod]
*$py.class

*.so

.Python

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

*.egg-info/
.installed.cfg
*.egg


# =========================================================
# Virtual Environment
# =========================================================

venv/
.venv/
env/
ENV/


# =========================================================
# IDE
# =========================================================

.vscode/
.idea/

*.swp
*.swo


# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db


# =========================================================
# RepoMind Generated Data
# =========================================================

data/chroma/
data/repositories/


# =========================================================
# Logs
# =========================================================

*.log


# =========================================================
# Testing
# =========================================================

.pytest_cache/
.coverage
htmlcov/


# =========================================================
# Streamlit
# =========================================================

.streamlit/secrets.toml